<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        About me
      </div>
      <div class="card-block">
        <!-- <div class="card-img">
          <img src="/assets/profile.jpg">
        </div> -->
        <div class="card-media-block">
          <img src="/assets/profile.jpg" width="120px" height="160px">
          <div class="card-media-description">
            <span class="card-media-title">
              Francisco Menéndez Moya
            </span>
            <span class="card-media-text">
              Software Engineer graduated from University of Zaragoza
            </span>
          </div>
        </div>
        <div class="card-text" style="text-align: justify;">
          Hello! My name is Francisco Menéndez Moya and I’m currently a Hybrid Mobile App Developer at Hiberus Tecnología in Aragón,
          Spain. My passion is web development, which couldn't be acomplished without knowing English, as it is my second
          language and I try to speak it and type it as fluently as I can 😅.
          <br/>
          <br/> Throughout my years of studies I’ve learned multiple programming languages as well as multiple computer engineering
          fields, but the thing I feel the most comfortable doing is Software Engineering (working agile and web & apps development).
          <br/>
          <br/> My current specialties are frontend JS and TS frameworks like Angular or Ionic, backend frameworks like NodeJS
          (with ExpressJS) or NestJS both with the use of API annotation platforms like Swagger, and I also feel comfortable
          with DevOps development, specially with Jenkins and Fastlane, of course having everything as a service in containers
          (such as Docker with Swarm).
          <br/>
          <br/> I'm also used to more traditional programming languages like Java, have a little bit of experience developing
          projects with Spring as its backend, and for databases it usually depends on the project, but NoSQL DBs like Mongo,
          with Mongoose or TypeORM as its ORM are usually my go-to choice.
          <br/>
          <br/> I look forward to new ways of improving my capabilities and I'm eager to learn new fields and techniques!
        </div>
      </div>
      <div class="card-footer">
        <!-- <button class="btn btn-sm btn-link">Action</button> -->
        <!-- <a href "https://www.github.com/fmenemo" target="_blank"> -->
        <a href="https://www.github.com/fmenemo" target="_blank" mat-button>
          <mat-icon svgIcon="github-box"></mat-icon>
        </a>
        <a href="https://www.linkedin.com/in/fmenemo" target="_blank" mat-button>
          <mat-icon svgIcon="linkedin-box"></mat-icon>
        </a>
        <a href="mailto:fmenendezmoya@gmail.com" mat-button>
          <mat-icon svgIcon="email"></mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
