<vertical-timeline>

  <vertical-timeline-card [dateValue]="dates[0]" [timeString]="'15:00'">
    <h1>First day of University</h1>
    <p class="p1">
      Very few ideas of what really meant to be a Computer Engineer, but a lot of energy and very eager to discover a whole new
      world full of ideas!
    </p>
  </vertical-timeline-card>

  <vertical-timeline-card [dateValue]="dates[1]" [timeString]="'09:00'">
    <h1>Getting certifications</h1>
    <p class="p1">
      After knowing English for the greater part of my life it was finally time to get certified, since it was required firstly
      by the University (a basic level at least), and since it meant that I finally had a document that proved my level.
      It was a shame that I came so close of having an A grade (80 points). Cambridge Certificate in Advanced English: Score
      of 78 out of 100 (Grade B+)
    </p>
  </vertical-timeline-card>

  <vertical-timeline-card [dateValue]="dates[2]" [timeString]="'12:00'">
    <h1>Engineer!</h1>
    <p class="p1">
      It wasn't easy, but after a very rough first year everything came into place and I managed to obtain my title in Computer
      Engineer with mentions of Software Engineer. Average grade of 7.16 / 10
    </p>
  </vertical-timeline-card>

  <vertical-timeline-card [dateValue]="dates[3]" [timeString]="'08:00'">
    <h1>First day at Hiberus Tecnología</h1>
    <p class="p1">
      After having graduated from University, time came to explore what meant to be an ecommerce developer, focusing primarily
      on backend development using Java based technologies and frameworks such as Spring MVC. Responsabilities involved:
      RESTful API development, improvements to existing in-house framework (Hermes) like websocket-based messages or Spring
      Security role management and new products development like CEPSA's "en una ruta" service: https://cercadeti.cepsa.es/
    </p>
  </vertical-timeline-card>

  <vertical-timeline-card [dateValue]="dates[4]" [timeString]="'08:00'">
    <h1>Hybrid Mobile Developer at Hiberus Tecnología</h1>
    <p class="p1">
      After a few months as a backend ecommerce developer I started to be curious about new experiences, especially in the frontend
      environment. And after been given the opportunity to join the Mobile Team, I decided to take on this new challenge
      as a Hybrid Mobile Developer using technologies like Ionic Framework.
    </p>
  </vertical-timeline-card>

</vertical-timeline>
