<clr-main-container>
  <clr-header class="header header-6">
    <div class="branding">
      <a class="logo-and-title">
        <!-- <clr-icon shape="home"></clr-icon> -->
        <a routerLink="/" class="title">fmenemo.github.io</a>
        <!-- <span class="title">fmenemo.github.io</span> -->
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">

      <a routerLink="/posts" class="nav-link nav-text" routerLinkActive="active">Posts</a>
      <a routerLink="/projects" class="nav-link nav-text" routerLinkActive="active">Projects</a>
      <a routerLink="/trajectory" class="nav-link nav-text" routerLinkActive="active">Skills & Trajectory</a>
      <a routerLink="/awards" class="nav-link nav-text" routerLinkActive="active">Awards</a>
      <!-- <a routerLink="/tools" class="nav-link nav-text" routerLinkActive="active">Projects & Tools</a> -->
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
