<!-- <div markdown-to-html>

</div> -->
<div class="row">
  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let post of posts | reverse; let i = index">
    <!-- <div class="card-img">
      <img [src]="post.image">
    </div> -->
    <div class="card-block">
      <h4 class="card-title" style="text-align: justify;">{{post.title}}</h4>
      <p class="card-text" style="text-align: justify; max-height:200px; overflow: hidden;">
        <markdown-to-html [src]="post.postUrl"></markdown-to-html>
      </p>
    </div>
    <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item">Lorem ipsum dolor.</li>
          <li class="list-group-item">Lorem ipsum dolor sit.</li>
          <li class="list-group-item">Lorem ipsum.</li>
        </ul> -->
    <div class="card-footer">
      <a [routerLink]="['/posts', i]" class="btn btn-sm btn-link">Read more</a>
      <!-- <a (click)="" class="btn btn-sm btn-link">Read more</a> -->
    </div>
  </div>
</div>
